#intro {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 8;
}
#intro::after {
  content: "";
  position: absolute;

  top: 0;
  bottom: 0;
  
  z-index: 9;
}

#intro .content {
  text-align: right;
  position: absolute;
  top: 32%;

  overflow: hidden;
  z-index: 9;
  color: #fff;
}
#intro .content h1 {
  margin: 0px 0;
  font-size: 4.5em;
  font-weight: 300;
}
#intro .content h2 {
  padding: 0;
  border: none;
}
#intro .content h3 {
  font-size: 1.5em;
  font-weight: 300;
}

section {
  margin-bottom: 15px;
}
section h2 {
  margin-left: 750px;
  text-align: center;
  margin-right: 0px;
  line-height: 16;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccf;
}
